.pokedex {           
    width: 55%;                
}


.contenedor{
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
}

.visorIzq{
    background-color: rgb(119, 227, 111);
    background-image: radial-gradient(black 10%, transparent 5%);
    background-size: 10px 10px;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 44.5%;
    left: 36.9%;
    height: 28.8%;
    width: 17.2%; 
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.loading {
    background-color: rgb(119, 227, 111);
    background-image: radial-gradient(black 10%, transparent 5%);
    background-size: 10px 10px;
    border: 2px solid black;
    border-radius: 0.5em;
    box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.6);
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    top: 26%;
    left: 28.3%;
    width: 17.1%;
    height: 28.8%;
    font-size: 190%;
    font-weight: bold;
}

.visorDer{
    background-color: rgb(119, 227, 111);
    background-image: radial-gradient(black 10%, transparent 5%);
    background-size: 10px 10px;
    border: 2px solid black; 
    border-radius: 1em;
    box-shadow: inset 0 0 1.5em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 40.6%;                         
    left: 64.5%;
    height: 16.3%;
    width: 17.5%;
    transform: translate(-50%, -50%);
}

.button {
    position: absolute;
    top: 83.1%;                         
    left: 65.4%;
    width: 8.2%;
    height: 7.1%;
    font-size: 140%;
    font-weight: bold;
    background-color: rgb(248, 248, 52);
    border-radius: 0.5em;
    box-shadow: -0.15em 0.15em 0px rgb(163, 163, 12)/* , -0.1em 0.1em 20px */;
    transition: all 0.2 ease;
}

.button:active {
    box-shadow: none;
    top: 83.5%;
    left: 65.2%;
}

.button:hover {
    cursor: pointer;
}


.span {
    margin: 0;
    position: absolute;
    top: 83.5%;
    left: 55.75%;
    background-color: rgb(171, 232, 177);
    color: black;
    border: 1px solid black;
    height: 7.3%;
    width: 8.15%;
    font-size: 85%;
    line-height: 150%;                          
    font-weight: bold;
    border-radius: 0.5em;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 0.5s alternate infinite
}


@keyframes animate {
    from {
        box-shadow: inset 0 0 7em 1em rgb(253, 143, 143);
    }
    to {
        box-shadow: inset 0 0 7em 1em transparent;
                    /* 0 0 10px blue;  */
    }
}