.pokedex {
    height: 90vh;                   /* //!BREAKPOINT */
    width: 61.5vw;
    /* aspect-ratio: 1.4 / 1; */
}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.visorIzq{
    background-color: rgb(119, 227, 111);
    background-image: radial-gradient(black 10%, transparent 5%);
    background-size: 10px 10px;
    border: 2px solid black;
    border-radius: 1em;
    box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 44.6%;
    left: 35.24%;
    height: 28.6%;
    width: 19.3%; 
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.visorDer{
    background-color: rgb(119, 227, 111);
    background-image: radial-gradient(black 10%, transparent 5%);
    background-size: 10px 10px;
    border: 2px solid black; 
    border-radius: 1em;
    box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 40.7%;                         
    left: 66.4%;
    height: 16.2%;
    width: 19.8%;
    transform: translate(-50%, -50%);
}
