.pokedex {
    height: 90vh;
    width: 61.5vw;
}


.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    background-color: yellow;
    position: absolute;
    top: 30.2%;                         /* //!BREAKPOINT */
    left: 25.6%;
    height: 28.7%;
    width: 19.3%;
    /* transform: translate(-50%, -50%); */
}