.container {
   /*  background-color: rgba(194, 191, 191, 0.7); */
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    height: 85%;
    margin: 2%;                     
}


.fondoNegro {
    position: absolute;
    opacity: 0.90;
    width: 93%;
    height: 100%;
    left: 2%;
    border: 5px solid rgb(212, 212, 212);
    border-radius: 4em;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.5);
}


.form {
    /* background-color: rgba(214, 106, 106, 0.73); */
    position: absolute;
    height: 100%;
    width: 93%;
    left: 2.2%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


.innerForm {
    /* background-color: black; */
    display: flex;
    height: 85%;
}



.seleccion {
    /* background-color: yellow; */
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15%;
}


.seleccion select {
    width: 32%;
    height: 7%;
    border-radius: 2em;
    border: 0.3em solid rgb(14, 108, 30);
    box-shadow: 0 0 2em 0.5em rgb(63, 172, 127);
}


.seleccion select:hover {
    cursor: pointer;
}


.boton {
    /* background-color: yellow; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    aspect-ratio: 1/1;
}


.boton button {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(202, 27, 27);
    border: 1px solid rgb(168, 167, 167);
    color: white;
    font-weight: bold;
    font-size: 1vw;
}


.boton button:hover {
    cursor: pointer;
}


.boton p {
    background-color: white;
    color: transparent;
    width: 45%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    filter: blur(1.2em);
}


.preview {
    /* background-color: cyan; */
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.volver {
    /* background-color: red; */
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volver button {
    height: 40%;
    width: 7%;
    border-radius: 1em;
    background-color: rgb(178, 178, 178);
    font-weight: bold;
}

.volver button:hover {
    cursor: pointer;
}


.cargando {
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 41%;
}