.detailOneDiv {
    width: 100%;
    font-size: 100%;
}


.detailOneSection {
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
}


.detailTwoDiv {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 72%;
}

.detailTwoDivDatos {
    display: flex;
}


.detailOneImg {
    height: 60%;
}


.detailTwoH2 {
    margin: 0;
}
