.detailOneDiv {
    width: 100%;
    font-size: 100%;
}


.detailOneSection {
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
}


.detailTwoDiv {          
    width: 92%;
    height: 78.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    font-size: 0.55vw;
}

.detailTwoDivDatos {
    display: flex;
    text-align-last: justify;
    column-gap: 3vw;
}


.detailOneImg {
    height: 60%;
}


.detailTwoH2 {
    margin: 0;
}
