.gifs {
    background-color: red;
    display: flex;
    flex-direction: column;
    scale: 25%;
    height: fit-content;
}

.divGlobal {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.sectionCards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    justify-content: center;
    /* background-color: rgba(0, 0, 255, 0.227); */
    margin-top: 3em;
    margin-bottom: 3em;
}

.charizard{
    position: absolute;
    scale: 300%;
    top: 70vh
}

.loading {
    position: absolute;
    scale: 6;
    top: 160vh
}

.paginado {
    margin-top: 5em;
    margin-bottom: 4em;
}