.divGlobal {
    position: relative;
    display: flex;
    background-color: rgba(194, 191, 191, 0.7);
    height: 80%;
    margin: 2%;                     
}


.divTypes {
    /* background-color: cyan; */
    position: absolute;
    width: 15%;
    height: 97%;
    top: 3%;
    display: flex;                 
    flex-direction: column;
    align-items: center;
    line-height: 180%;
    font-size: 1.1em;
}


.sectionTypes {
    text-align: left;
}


.divForm {
    /* background-color: brown; */
    display: flex;
    position: absolute;
    justify-content: center;
    left: 15%;
    width: 65%;
    height: 95%;
}

.divPreview {
    /* background-color: cyan; */
    position: absolute;
    top: 20%;
    right: 0;
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: left;
    margin: 0;
} 

.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divInputs {
    display: flex;
    gap: 15em
}

.sectionInputs {
    margin-top: 19%;
    display: flex;
    flex-direction: column;
    row-gap: 3.5em;
}

.sectionInput {
    display: flex;
    flex-direction: column;
    width: 22em;
    height: 7.5em;
    row-gap: 0.5em;
    align-items: center;
}

.inputs {                           
    background-color: rgb(240, 240, 240);
    height: 2.5em;
    width: 20em;
    border-radius: 2em;
    padding-left: 1.5em;
    font-size: 1em;
    font-weight: bold;
}

.inputs::placeholder {
    font-size: 0.9em;
    font-weight: normal;
}


.button {
    margin-top: 5em;
}

.pokebola{
    height: 7em;
    margin-top: 3em;
}


.warning {
    border: solid red 2px;
    background-color: rgb(240, 240, 240);
    height: 2.5em;
    width: 20em;
    border-radius: 2em;
    padding-left: 1.5em;
    font-size: 1em;
    font-weight: bold;
}
  

.danger {
    color: blue;
    font-size: 1em;
    margin-top: 0;
}
