.paginadoDiv {
    display: flex;
    gap: 2em;
    justify-content: center;
    scale: 2
}


.botones {
    border-radius: 50%;
    height: 1.4em;                      
    aspect-ratio: 1/1;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 0.9m;
    background-image: linear-gradient(to bottom, rgb(227, 68, 68) 50%, rgb(230, 230, 230) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonIsActive{
    border-radius: 50%;
    height: 1.4em;                      
    aspect-ratio: 1/1;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-size: 0.9m;
    background-image: linear-gradient(to bottom, rgb(227, 68, 68) 50%, rgb(230, 230, 230) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 130%;
    animation: animate 1.2s linear infinite alternate
}
    


.botones:hover {       
    cursor: pointer;
}


@keyframes animate {
    from {
        box-shadow: 0px 0px 1em 0.3em  red;       /* Izq der difuminado alcance */
    }
    to {
        box-shadow: 0px 0px 1em 0.3em transparent;
                    /* 0 0 10px blue;  */
    }
}