.button {
    width: 7vh;
    aspect-ratio: 1.15 / 1;
    border: none;
    border-radius: 50%;
    animation-name: changeColor;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}


.button:hover {
  cursor:pointer
}

.div {
    position: absolute;
    top: 75.3%;
    left: 53.03%;
}


@keyframes changeColor {
    0% {
      background-color: rgb(220, 220, 220);
    }
    50% {
      background-color: red;
    }
    100% {
        background-color: rgb(220, 220, 220);
    }
  }