.div {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-bottom: 2em;
}

.porTipo, .porOrigen, .porCriterio, .porAsc {
    background-color: rgba(236, 112, 112, 0.8);
    height: 2.5em;
    width: 10em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 1.7em;
}

.porTipo:hover, .porOrigen:hover, .porCriterio:hover, .porAsc:hover {
    cursor: pointer;
}

.porOrigen {
    background-color: rgba(36, 106, 163, 0.8);
}

.porCriterio {
    background-color: rgba(29, 171, 29, 0.8);
}

.porAsc {
    background-color: rgba(227, 227, 11, 0.8);
}

.parrafo {
    margin-top: 0em;
    margin-bottom: 0.4em;
}

.charmander, .bulbasaur, .squirtle, .pikachu {
    height: 2.2em;
}

